#top-bar {
    -fx-background-color: rgb(241, 241, 241);
}

#top-bar:hover {
    -fx-background-color: rgb(221, 221, 221);
}

#top-bar .mfx-button {
    -fx-background-radius: 5em;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-padding: 0;
    -fx-text-fill: transparent;
    -fx-font-weight: 700;
}

#top-bar .mfx-button:hover {
    -fx-opacity: 0.5;
    -fx-cursor: hand;
}

#top-bar:hover .mfx-button {
    -fx-text-fill: rgba(0, 0, 0, 0.479);
    -fx-padding: 0 0 5px 0;
}

#minimize-btn {
    -fx-background-color: rgb(163, 159, 151);
}

#close-btn {
    -fx-background-color: rgb(255, 118, 118);
    -fx-padding: 0 0 8px 0;
}

#fullscreen-btn {
    -fx-background-color: rgb(118, 211, 100);
}

