#nav-bar {
    -fx-background-color: #333b61;
    -fx-background-radius: 10px 0 0 10px;
}

#nav-bar #btn-logout {
    -fx-font-size: 12;
    -fx-opacity: 0.6;
    -fx-text-align: center;
}

#nav-bar #btn-logout:hover {
    -fx-opacity: 8;
    -fx-background-color: transparent;
}

#nav-bar .mfx-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-radius: 0;
} 

#nav-bar .mfx-ripple-generator {
    -mfx-ripple-color: white;
}

#nav-bar .mfx-button:hover {
    -fx-background-color: rgba(79, 103, 134, 0.199);
}

