image: maven:3.8.4-jdk-11

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

cache:
  paths:
    - .m2/repository

variables:
  DB_URL:  $DB_URL
  DB_USER: $DB_USER
  DB_PASSWORD: $DB_PASSWORD
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

stages:
  - tests

tests:
  stage: tests
  script:
    - echo "DB_URL=$DB_URL" >> .env
    - echo "DB_USER=$DB_USER" >> .env
    - echo "DB_PASSWORD=$DB_PASSWORD" >> .env
    - mvn install:install-file -Dfile=ojdbc8.jar -DgroupId=com.oracle -DartifactId=ojdbc8 -Dversion=19.3 -Dpackaging=jar -DskipTests
    - mvn test

